{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>Fyyur Search!</h1>
    </div>
    <p class="lead"> Show Search </p>

    <ul class="nav nav-pills">
        <li class="active"><a>Shows</a></li>
    </ul>

{#    Todo implement show search frontend #}
    <form action="search_show.html" method="post">
                 <input class="form-control"
                  type="search"
                  name="search_term"
                  placeholder="Find a show"
                  aria-label="Search">
    </form>

{% endblock %}